md-content(md-padding)
    md-card
        md-data-table-container
            table.md-primary(md-data-table md-progress="deferred")
                thead
                    tr
                        th(name="Hostname")
                        th(name="Web")
                        th(name="Worker")
                        th(name="Online")
                        th(name="Free memory")
                tbody
                    tr(
                        md-auto-select
                        ng-repeat="server in servers"
                    )
                        td: a(ng-href='/server/{{server.hostname}}/overview')
                            | {{ server.hostname }}
                        td
                            md-icon.material-icons(ng-if='server.isWeb') check_circle
                            md-icon.material-icons(ng-if='!server.isWeb') highlight_off
                        td
                            md-icon.material-icons(ng-if='server.isWorker') check_circle
                            md-icon.material-icons(ng-if='!server.isWorker') highlight_off
                        td
                            md-icon.material-icons(ng-if='server.online') check_circle
                            md-icon.material-icons(ng-if='!server.online') highlight_off
                        td {{ server.freemem | bytes }}
        md-data-table-pagination(
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{desserts.count}}"
            md-trigger="onpagechange"
        )
