md-content(md-padding)
    md-card
        md-table-container
            table(md-table md-progress="deferred")
                thead(md-head)
                    tr(md-row)
                        th(md-column) Hostname
                        th(md-column) Web
                        th(md-column) Worker
                        th(md-column) Online
                        th(md-column) Free memory
                tbody(md-body)
                    tr(
                        md-row
                        md-auto-select
                        ng-repeat="server in servers"
                    )
                        td(md-cell): a(ng-href='/server/{{server.hostname}}/overview')
                            | {{ server.hostname }}
                        td(md-cell)
                            md-icon.material-icons(ng-if='server.isWeb') check_circle
                            md-icon.material-icons(ng-if='!server.isWeb') highlight_off
                        td(md-cell)
                            md-icon.material-icons(ng-if='server.isWorker') check_circle
                            md-icon.material-icons(ng-if='!server.isWorker') highlight_off
                        td(md-cell)
                            md-icon.material-icons(ng-if='server.online') check_circle
                            md-icon.material-icons(ng-if='!server.online') highlight_off
                        td(md-cell) {{ server.freemem | bytes }}
        md-table-pagination(
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{serverCount}}"
            md-on-paginate="onPaginate"
        )
