md-content(md-padding)
    md-card
        md-data-table-toolbar
            .md-toolbar-tools
                h1.md-title Groups
                span(flex)
                md-button.md-icon-button(href='/management/users/add')
                    md-icon.material-icons add
        md-data-table-container(ng-init='getGroups()')
            table.md-primary(md-data-table md-progress="deferred")
                thead
                    tr
                        th(name="Group")
                        th(name="Owner")
                tbody
                    tr(
                        md-auto-select
                        ng-repeat='group in groups | ' +
                            'offsetBy: pageSize * currentPage | ' +
                            'limitTo: pageSize'
                        )
                        td {{ group.name }}
                        td {{ group.owner }}
                        td(layout='row' layout-align='end')
                            md-button.md-icon-button(ng-href='/management/groups/{{group.name}}/edit')
                                md-icon.material-icons edit
                            md-button.md-icon-button(ng-href='/management/groups/{{group.name}}')
                                md-icon.material-icons description
                            md-button.md-icon-button(ng-click='delete(group.name)')
                                md-icon.material-icons delete
        md-data-table-pagination(
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{desserts.count}}"
            md-trigger="onpagechange"
        )
