md-content(md-padding)
    md-card
        md-table-toolbar
            .md-toolbar-tools
                h1.md-title Groups
                span(flex)
                md-button.md-icon-button(href='/management/users/add')
                    md-icon.material-icons add
        md-table-container(md-table ng-init='getGroups()')
            table(md-table md-progress="deferred")
                thead(md-head)
                    tr(md-row)
                        th(md-column) Group
                        th(md-column) Owner
                tbody(md-body)
                    tr(
                        md-row
                        md-auto-select
                        ng-repeat='group in groups | ' +
                            'offsetBy: pageSize * currentPage | ' +
                            'limitTo: pageSize'
                        )
                        td(md-cell) {{ group.name }}
                        td(md-cell) {{ group.owner }}
                        td(md-cell layout='row' layout-align='end')
                            md-button.md-icon-button(ng-href='/management/groups/{{group.name}}/edit')
                                md-icon.material-icons edit
                            md-button.md-icon-button(ng-href='/management/groups/{{group.name}}')
                                md-icon.material-icons description
                            md-button.md-icon-button(ng-click='delete(group.name)')
                                md-icon.material-icons delete
        md-table-pagination(
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{groupCount}}"
            md-on-paginate="onPaginate"
        )
