mixin list(target_path, icon, name, children)
    if (path.indexOf(target_path) > -1)
        if (path == target_path)
            li.text-muted: span.fa(class=icon): = name
                if children
                    ul: each child in children
                        +list(
                            target_path + child.target_path,
                            child.icon,
                            child.name
                        )
        else
            li: a(href=target_path): span.fa(class=icon): = name
                if children
                    ul: each child in children
                        +list(
                            target_path + child.target_path,
                            child.icon,
                            child.name
                        )
    else
        li: a(href=target_path): span.fa(class=icon) 
            = name
