md-content(md-padding)
    md-card
        md-card-content
            div(layout)
                div(layout='row' flex)
                    h1 {{ service.name }}
                div(layout-align='end' layout='row' flex)
                    md-button.md-icon-button(
                        layout='column'
                        ng-class='{ disabled: service.isOnline }'
                        ng-click='startService(service.name)'
                    ): md-icon.material-icons play_arrow
                    md-button.md-icon-button(
                        layout='column'
                        ng-class='{ disabled: !service.isOnline }'
                        ng-click='stopService(service.name)'
                    ): md-icon.material-icons stop
                    md-button.md-icon-button(
                        layout='column'
                        ng-class='{ disabled: !service.isOnline }'
                        ng-click='restartService(service.name)'
                    ): md-icon.material-icons replay
                
            
            p {{ service.description }}
            p {{ service.loaded }}
            p {{ service.active }}
            
        md-data-table-container
            table(style='font-family: "Courier New"' ng-if='service.log')
                thead
                    th(name='Timestamp')
                    th(name='FQDN')
                    th(name='Process')
                    th(name='Content')
                tbody
                    tr(ng-repeat='entry in service.log')
                        td {{ entry.timestamp }}
                        td {{ entry.FQDN }}
                        td {{ entry.process }}
                        td {{ entry.content }}
