extends /templates/page

block container
    script.
        var hostname = '#{hostname}';
        var host = '#{host}';
        var port = '#{port}';
    
    .col-sm-3
        +panel_server
    
        +panel_cluster
    
    .col-sm-9
        .panel.panel-default(ng-controller='ServerManagementCtlr' ng-init='getRunningServices()')
            .panel-heading Running services
            .panel-body
                form.form-inline: .form-group
                    button.btn(type='button' ng-click='currentPage = currentPage*1 - 1'
                        ng-disabled="currentPage*1 <= 0 ? 'disabled' : ''") Previous
                    
                    button.btn(type='button' ng-click='currentPage = currentPage*1 + 1'
                        ng-disabled="currentPage*1 >= (pkgs.length / pageSize) - 1 ? 'disabled' : ''") Next
                
                    input.form-control(ng-model='currentPage')
                    
                table.table
                    thead
                        td: h5 Service
                        td: h5 Running
                        td: h5 Controls
                    tbody
                        tr(ng-repeat='entry in serviceStatus | ' +
                                'offsetBy: pageSize * currentPage | ' +
                                'limitTo: pageSize')
                            td
                                a(ng-if='entry.isRunning' href='../service/{{ entry.service }}/') {{ entry.service }}
                                div(ng-if='!entry.isRunning') {{ entry.service }}
                            td
                                .fa.fa-check.text-success(ng-if='entry.isRunning')
                                .fa.fa-minus.text-danger(ng-if='!entry.isRunning')
                            
                            td
                                .btn-group    
                                    button.btn(): .fa.fa-play
                                    button.btn(): .fa.fa-stop
                                    button.btn(): .fa.fa-repeat
