md-content(md-padding ng-init='getUsers()')
    md-card
        md-data-table-toolbar
            .md-toolbar-tools
                h1.md-title Users
                span(flex)
                md-button.md-icon-button(href='/management/users/add')
                    md-icon.material-icons add
            
        md-data-table-container(ng-init='getUsers()')
            table.md-primary(md-data-table md-progress="deferred")
                thead
                    tr
                        th(name="Username")
                        th(name="Email")
                        th(name="Role")
                tbody
                    tr(
                        md-auto-select
                        ng-repeat='user in users | ' +
                            'offsetBy: pageSize * currentPage | ' +
                            'limitTo: pageSize'
                        )
                        td {{ user.username }}
                        td {{ user.email }}
                        td {{ user.role }}
                        td(layout='row' layout-align='end')
                            md-button.md-icon-button(ng-href='/management/users/{{user.username}}/edit')
                                md-icon.material-icons edit
                            md-button.md-icon-button(ng-href='/management/users/{{user.username}}')
                                md-icon.material-icons description
                            md-button.md-icon-button(ng-click='delete(user.username)')
                                md-icon.material-icons delete
        md-data-table-pagination(
            md-limit="query.limit"
            md-page="query.page"
            md-total="{{desserts.count}}"
            md-trigger="onpagechange"
        )
